    <span>
      共<b><%= dataCount %></b>条&nbsp;&nbsp;
      分<b><%= pageCount %></b>页&nbsp;&nbsp;
      当前&nbsp;第<b><%= pageIndex + 1 %></b>页&nbsp;&nbsp;
      <% if (pageIndex == 0) { %>
        <font color="#C0C0C0">首页</font>
        <font color="#C0C0C0">上一页</font>
      <% } else { %>
        <a href="#commentpoint" class="goto-first">
          <font color="#000000">首页</font>
        </a>
        <a href="#commentpoint" class="goto-prev">
          <font color="#000000">上一页</font>
        </a>
      <% } %>

      <% if (pageIndex >= pageCount - 1) { %>
        <font color="#C0C0C0">下一页</font>
        <font color="#C0C0C0">末页</font>
      <% } else { %>
        <a href="#commentpoint" class="goto-next">
          <font color="#000000">下一页</font>
        </a>
        <a href="#commentpoint" class="goto-last">
          <font color="#000000">末页</font>
        </a>
      <% } %>
    </span>
    <span>跳转到：
      <select name="topage" size="1" class="goto-index">
      <% for (var i = 0; i < pageCount; i++) {%>
        <option value="<%= i %>" <%= i === pageIndex ? 'selected' : '' %>>
          <%= i + 1 %>
        </option>
      <% } %>
      </select>
    </span>